@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An @Model.ErrorCode error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(Model.ErrorCategory))
{
    <h3>Error Category: @Model.ErrorCategory</h3>
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <p>@Model.ErrorMessage</p>
}

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
